 .Teks_Menu_Atas {
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     font-size: 10px;
   }
   .Area_Login {
     height: auto;
     width: 175px;
     margin-left: 6px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
   }
   .Area_Menu_Kiri {
     height: auto;
     width: 175px;
     margin-left: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
   }
   .Teks_Login {
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     font-size: 11px;
   }
   .Teks_Informasi {
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     font-size: 11px;
   }
   .Teks_Menu {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
     font-weight: bold;
   }
   .Teks_Kategori {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
   }
   .Teks_Testimonial {
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 12px;
   }
   .Teks_Testi {
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 14px;
     color: #0096C3;
   }
   .Area_Menu_Keranjang {
     height: auto;
     width: 175px;
     margin-left: 10px;
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     font-size: 10px;
   }
   .Area_Menu_Keranjang_Total {
     height: auto;
     width: 175px;
     margin-left: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
   }
   .Teks_Bank {
     font-size: 13px;
     font-family: Arial, Helvetica, sans-serif;
   }

   a:link {
     color: #006699;
     text-decoration: none;
   }
   a:hover {
     color: #5F9C9F;
     text-decoration: none;
   }
   a:visited {
     text-decoration: none;
     color: #006699;
   }
   a:active {
     text-decoration: none;
     color: #5F9C9F;
   }
   body {
     background-image: url(Gambar/Background.gif);
   }
   .Area_Informasi {
     height: auto;
     width: 375px;
     margin-top: 10px;
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 12px;
   }

   .Teks_Transaksi {
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 14px;
     color: #0096C3;
   }

   .Teks_Peringatan {
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 12px;
     color: #FF0000;
   }

   .Teks_Total {
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 12px;
     color: #0033FF;
   }

   .Teks_Faktur {
     font-family: Tahoma, Geneva, sans-serif;
     font-size: 12px;
     color: #0033FF;
   }